/* 
1- Posicionamiento
2- Modelo de caja
3- Tipografia
4- Visuales
5- Otros
6- Media Queries
*/

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-1: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;

  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
  /* justify-self: center; */
}

.header_title--container {
  width: 90%;
  min-width: 288px;
  max-width: 900;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header_title--container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header_title--container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500rem;
  color: var(--soft-orange);
}

.header_title--container .header_button {
  position: absolute;
  top: 270px;
  left: calc(50% - 118px);
  display: block;
  margin-top: 35px;
  padding: 15px;
  background-color: var(--off-white);
  width: 229px;
  height: 48px;

  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header_button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main_exchange_container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/icons/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table_title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

.currency-table_container {
  width: 90%;
  min-width: 230px;
  max-width: 250px;
  height: 250px;
  margin: 0 auto;
}

.currency-table_container table {
  width: 100%;
  height: 100%;
}

.currency-table_container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.currency-table_container .table--top-left {
  border-radius: 15px 0 0 0;
}

.currency-table_container .table--top-right {
  border-radius: 0 15px 0 0;
}

.currency-table_container .table--bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table_container .table--bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table_container .table--right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table_container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table_container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-up-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency_table--date {
  width: 210px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
}

.currency_table--date p {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--warm-black);
}

.main-currency-table .commissions-table_title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}

.commissions_table--date {
  width: 210px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-blue);
}

.commissions_table--date p {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--warm-black);
}

.main-product_detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.bata_logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url("./assets/icons/batata.svg");
  top: -10px;
  left: calc(50% - 20px);
}

.product_detail--title {
  color: var(--just-white);
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.product_detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.product_detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product_detail--card {
  width: 100%;
  min-width: 288px;
  max-width: 400;
  height: 150px;
  padding: 16px;
  margin: 15px auto;
  background-color: var(--warm-black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product_detail--card .clock,
.eye,
.currency,
.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product_card--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product_card--body {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}

.product_detail--card .clock {
  background-image: url("./assets/icons/clock-1.svg");
}
.product_detail--card .eye {
  background-image: url("./assets/icons/eye.svg");
}
.product_detail--card .currency {
  background-image: url("./assets/icons/dollar-sign-1.svg");
}
.product_detail--card .check {
  background-image: url("./assets/icons/check-circle-1.svg");
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 58vh;
  background-image: url("./assets/images/bitcoinbaby.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main_plans--container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  /* margin-top: 50px; */
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6;
  color: var(--black);
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans_cards {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomended {
  position: relative;
  width: 120px;
  height: 31px;
  padding: 6px;
  left: calc(50% - 60px);
  top: -15px;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
  font-size: 1.2rem;
  color: var(--just-white);
}

.plan_info--container {
}

.plans_cards--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}
.plans_cards--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.3rem;
  color: black;
}

.plans_cards--price span {
  font-size: 1.2rem;
  font-weight: 300;
}
.plans_cards--saving {
}
.plans_cards--call-to-action {
}
